{% extends 'inflearn_lecture/base.html' %}

{% block content %}
    <div class="contents">
        {{board_contents.board_text | safe}}
    </div>

    <div style="width: 800px; margin: auto;">
        <form method="post" action="{% url 'lecture_list_info' pk=board_contents.pk %}">
            {% csrf_token %}
            <div class="form-group">
                <labe>평점</labe>
                <input name="rate" type="number" class="form-control" placeholder="평점">
            </div>
            <div class="form-group">
                <label>글쓴이</label>
                <input name="writer" type="text" class="form-control" placeholder="글쓴이">
            </div>
            <div class="form-group">
                <label>댓글</label>
                <input name="comment" type="text" class="form-control" placeholder="댓글">
            </div>

            <button type="submit" class="btn btn-default">제출</button>
        </form>
    </div>

    <div>
        <style>
            tr td{
                border: 1px solid gray;
                padding: 10px;
            }
        </style>
        <table style="width: 500px; margin: auto;">
        
        <tr>
            {% if board_contents.lecture_title1 %}
                <td><a href="{% url 'show_lecture' pk=board_contents.pk %}">{{ board_contents.lecture_title1 }}</a></td>
            {% endif %}
        </tr>
        <tr>
            {% if board_contents.lecture_title2 %}
                <td>{{ board_contents.lecture_title2 }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if board_contents.lecture_title3 %}
                <td>{{ board_contents.lecture_title3 }}</td>
            {% endif %}
        </tr>
        <tr>
            {% if board_contents.lecture_title4 %}
                <td>{{ board_contents.lecture_title4 }}</td>
            {% endif %}
        </tr>
        </table>
    </div>

    <div style="width: 800px; margin: auto; padding: 10px;">
    {% for comment_item in comment %}
        <div style="border: 1px solid gray; border-radius: 10px;">
            <h2>평점:{{ comment_item.rate }}</h2>
            <h2>작성자:{{ comment_item.writer }}</h2>
            <h2>댓글{{ comment_item.comment }}</h2> 
            
            <form method="post" action="{% url 'comment_remove' pk=comment_item.pk %}">
                {% csrf_token %}
                <button>삭제하기</button>
            </form>
        </div>
    {% endfor %}
    </div>

{% endblock %}